@import "theme.scss";

@function j($px, $base-font-size: 135px) {
    @if (unitless($px)) {
        @return j($px + 0px); // That may fail.
    }

    @else if (unit($px)==rem) {
        @return $px;
    }

    @return ($px / $base-font-size) * 1rem;
}

// 整体 wrap
.pl-wrap {
    width: j(1350);
    padding: 0 j(40);
    height: j(759);
    margin: auto;
    display: flex;
    flex-direction: column;
}

// 页面大标题
.pl-title {
    @include themeify {
        color: themed("tertiary");
    }

    font-size: j(27);
}

// 数据展示卡片容器
.pl-card {
    height: 100%;

    @include themeify {
        border: 1px solid themed("midground-border");
        background: themed("midground");
    }

    box-shadow: 0 j(7) j(13) 0 rgba(0, 0, 0, 0.3);
    border-radius: j(4);
}

// 含tooltip的按钮
.pl-tooltip {
    width: j(50);
    height: j(50);

    @include themeify {
        background: themed("midground");
        color: themed("primary");
    }

    line-height: j(50);
    font-size: j(20);
    border-radius: 50%;
    border: none;
    cursor: pointer;

    &:hover {
        @include themeify {
            background: themed("background");
            color: themed("secondary");
        }
    }

    .icon {
        font-size: j(20);
        width: j(20);
        height: j(20);

        @include themeify {
            fill: themed("primary");
        }
    }
}


// 带下划线的选择框
// 输入框 plain 比 round 大一些
// 下拉菜单和round 一样
.pl-select-plain {
    min-width: j(200);
    height: j(50);
    line-height: j(50);

    .el-input {
        .el-input__inner {
            font-size: j(20);
            height: j(50);

            @include themeify {
                border-bottom: 1px solid themed("border");
                border-radius: 0px;

                &:hover {
                    border-color: themed("primary");
                }

                &.is-focus {
                    border-bottom: 1px solid themed("primary");
                }
            }
        }

        .el-input__suffix {
            .el-input__icon {
                font-size: j(20);
                height: j(50);
                line-height: j(50);
            }
        }
    }

    .el-select-dropdown__item {
        font-size: j(10);
        height: j(28);
        line-height: j(28);
    }
}

// 带圆角边框的选择框
.pl-select-round,
.pl-cascader-round {
    width: j(80);
    height: j(36);
    line-height: j(36); // el-cascader 默认 40px

    .el-input {
        .el-input__inner {
            font-size: j(10);
            height: j(36);
            border-radius: j(20);
            padding-left: j(10);
            padding-right: j(20);

            @include themeify {
                border: 1px solid themed("border");

                &:hover {
                    border-color: themed("primary");
                }
            }
        }

        .el-input__suffix {
            .el-input__icon {
                font-size: j(10);
                height: j(36);
                line-height: j(36);
            }
        }
    }

    .el-select-dropdown__list {
        padding: 0;
    }

    .el-select-dropdown__item {
        font-size: j(10);
        height: j(28);
        line-height: j(28);
    }

    // 下拉菜单最小宽度
    &.el-select-dropdown {
        min-width: j(120) !important;
    }

    // 多选康
    &.is-multiple {

        // 选择时
        .icon {
            height: j(10);
            width: j(10);
            margin-right: j(8);
            vertical-align: middle;
        }

        // 未选择时
        span {
            width: j(10);
            height: j(10);
            border-radius: j(2);
            margin-right: j(8);
            vertical-align: middle;
        }
    }

    .el-cascader-node {
        font-size: j(10);
        height: j(28);
        line-height: j(28);

        .el-checkbox__input {
            font-size: j(10);

            .el-checkbox__inner {
                display: inline-block;
                width: j(10);
                height: j(10);
                border-radius: j(2);

                &::after {
                    height: j(5);
                    width: j(2);
                    top: j(0.5);
                    left: j(3);
                }
            }
        }
    }
}

// 带下划线的 id 输入框
.pl-input {
    min-width: j(200);
    height: j(50);

    .el-input__inner {
        height: 100%;
        font-size: j(20);
        line-height: j(19);
        border-radius: 0;
        padding-left: j(36);
        padding-right: j(11);
        border: none;
        font-family: "Blue Sky Standard Regular";

        @include themeify {
            border-bottom: 1px solid themed("border");
            color: themed("color");
            background: themed("background");

            &::placeholder {
                color: themed("placeholder")
            }

            &:focus {
                border-bottom: 1px solid themed("primary");
            }

            &:hover {
                border-color: themed("primary");
            }
        }
    }

    .el-input__prefix {
        left: j(4);

        .el-input__icon {
            font-size: j(16);
            height: 100%;

            @include themeify {
                color: themed("border");
                fill: themed("border");
            }
        }
    }

    .el-input__suffix {
        .el-input__icon {
            font-size: j(16);
            height: 100%;

            @include themeify {
                color: themed("primary");
                fill: themed("primary");
            }
        }
    }

    .el-icon-search {
        &::before {
            display: none;
        }
    }
}

// 日期选择器
.pl-date-picker-plain {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px;

    // 输入框
    &.el-date-editor {
        width: j(360) !important; // el has default  350px
        height: j(50);
        line-height: j(50);
        border: none;

        .el-input__icon {
            font-size: j(20);
            height: j(50);
            line-height: j(50);
            margin-right: j(4);
            margin-left: j(4);
        }

        .el-range-input {
            font-size: j(20);
            width: j(120);
            height: j(48);
            line-height: j(48);

            // 白色
            @include themeify {
                color: themed("color");
            }
        }

        .el-range-separator {
            width: auto;
            font-size: j(20);
            height: j(48);
            line-height: j(48);
            margin-right: j(4);
        }
    }

    // 日历
    &.el-date-range-picker {
        .el-date-range-picker__header div {
            height: j(30);
            font-size: j(20);
            line-height: j(30);
        }

        .el-picker-panel__icon-btn {
            font-size: j(20);
            width: j(30);
            height: j(30);
            line-height: j(30);
            margin: 0;
            padding: 0;
        }

        .el-date-table {
            tr {
                height: j(20);

                th {
                    font-size: j(20);
                }

                td {
                    font-size: j(20);
                    width: j(20);
                    padding: j(4) 0;
                }
            }
        }
    }
}

.pl-date-picker-round {

    // 输入框
    &.el-date-editor {
        width: j(220) !important; // el has default  350px
        height: j(36);
        line-height: j(36);
        border-radius: j(20);

        .el-input__icon {
            font-size: j(16);
            height: j(36);
            line-height: j(36);
            margin-right: j(4);
            margin-left: j(4);
        }

        .el-range-input {
            font-size: j(10);
            width: j(60);
            height: j(34);
            line-height: j(34);
        }

        .el-range-separator {
            width: auto;
            font-size: j(10);
            height: j(34);
            line-height: j(35);
            margin-right: j(4);
        }
    }

    // 日历
    &.el-date-range-picker {
        .el-date-range-picker__header div {
            height: j(30);
            font-size: j(10);
            line-height: j(30);
        }

        .el-picker-panel__icon-btn {
            font-size: j(10);
            width: j(30);
            height: j(30);
            line-height: j(30);
            margin: 0;
            padding: 0;
        }

        .el-date-table {
            tr {
                height: j(20);

                th {
                    font-size: j(10);
                }

                td {
                    font-size: j(10);
                    width: j(20);
                    padding: j(4) 0;
                }
            }
        }
    }
}

// range  input
// 由svg icon， input start， span, input end，组成
.pl-input-range {
    width: j(220);
    height: j(36);
    line-height: j(36);
    font-size: j(10);
    border-radius: j(20);
    padding: j(3) j(10);
    display: flex;
    flex-direction: row;
    align-items: center;

    @include themeify {
        color: themed("color");
        border: 1px solid themed("border");

        &:hover {
            border-color: themed("primary");
        }
    }

    .icon {
        height: j(18);
        width: j(18);
        // font-size: j(10);
        // line-height: j(24);
        font-size: j(20);
        // height: 100%;
        line-height: j(36);
        margin-right: j(4);
        margin-left: j(4);

        @include themeify {
            color: themed("border");
            fill: themed("border");
        }
    }

    span {
        font-size: j(10);
        height: j(36);
        line-height: j(36);
        margin: 0 j(2);

        @include themeify {
            color: themed("border");
        }
    }

    .el-input {
        width: j(80);

        .el-input__inner {
            width: j(60);
            height: j(34);
            font-size: j(10);
            line-height: j(34);
            padding-left: j(10);
            padding-right: j(6);
            border: none;
            text-align: center;
            font-family: "Blue Sky Standard Regular";

            @include themeify {
                color: themed("color");
                background: none;

                &::placeholder {
                    color: themed("placeholder")
                }

                &:focus,
                &:hover {
                    color: themed("color");
                }
            }
        }

        .el-input__suffix {
            .el-input__icon {
                font-size: j(16);
                height: j(36);
                width: j(12);
                line-height: j(36);
                margin-right: j(4);
                margin-left: j(4);

                @include themeify {
                    color: themed("primary");
                }
            }
        }
    }
}

// 类似.pl-select-round 的cover
.pl-cover-round {
    width: j(220);
    height: j(36);
    line-height: j(36); // el-cascader 默认 40px
    font-size: j(10);
    border-radius: j(20);
    text-align: center;

    @include themeify {
        color: themed("color");
        border: 1px solid themed("border");

        &:hover {
            border-color: themed("primary");
        }
    }
}

// 无底色圆角按钮
.pl-button-plain {
    min-width: j(80);
    height: j(36);
    line-height: j(36);
    font-size: j(10);
    border-radius: j(20);
    text-align: center;

}

// 含底色圆角按钮
.pl-button-primary {
    min-width: j(80);
    height: j(36);
    line-height: j(36);
    font-size: j(10);
    border-radius: j(20);
    text-align: center;
    padding: 0;
}

// 只有icon的按钮
.pl-button-icon {
    height: j(50);
    line-height: j(50);
    display: flex;
    padding: 0 j(4);

    .icon {
        background: transparent;

        @include themeify {
            color: themed("primary");
            fill: themed("color")
        }

        font-size: j(20);
        border: none;
        cursor: pointer;

        &:hover {
            @include themeify {
                color: themed("secondary");
            }
        }
    }
}

// 分页条
.pl-pagination {
    height: j(58);
    line-height: j(58);

    .el-icon {
        font-size: j(16) !important;
    }

    // total
    .el-pagination__total {
        font-size: j(10) !important;
    }

    // 页数跳转
    .el-pager {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: j(360);

        li {
            font-size: j(10);
        }
    }

    // 每页size
    .el-pagination__sizes {
        .el-input__inner {
            font-size: j(10);
        }
    }

    //goto
    .el-pagination__jump {
        font-size: j(10) !important;

        .el-input {
            margin: 0 j(10);

            .el-input__inner {
                font-size: j(10);
            }
        }
    }

    .el-select-dropdown__item {
        font-size: j(10);
        height: j(28);
        line-height: j(28);
    }
}

// 表格
.pl-table {
    .cell {
        // height:j(24);
        // white-space: nowrap;
        line-height: j(24);
        word-break: break-all;
        text-overflow: inherit !important;
        overflow: inherit !important;

        .icon {
            height: j(12);
            width: j(12);
            font-size: j(10);
            line-height: j(24);
        }
    }

    .el-table__header {
        th {
            font-size: j(10);
            line-height: j(24);
        }

    }

    .el-table__body {
        .el-table__row {
            td {
                font-size: j(10);
            }
        }
    }

}

// flex 容器
.pl-flex {
    display: flex;
}

.pl-flex-row {
    @extend .pl-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pl-flex-column {
    @extend .pl-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// 对话框
.pl-dialog {
    .el-dialog__header {
        height: j(60);
        padding-left: j(25);

        .el-dialog__title {
            font-size: j(14)
        }

        .el-dialog__close {
            font-size: j(16)
        }
    }

    .el-dialog__footer {
        height: j(60);
        font-size: j(10);
        padding: 0 j(20);
    }
}

// 表单
.pl-form {
    .el-form-item__content {
        margin-left: j(50);
    }

    .el-input__clear {
        font-size: j(16);
        line-height: j(16);
    }

    .el-select,
    .el-date-editor--date {
        font-size: j(16);
        width: 100%;
    }

    .el-input__icon {
        font-size: j(16);
    }

    .el-form-item__label,
    .el-input__inner,
    .el-textarea__inner,
    .el-input-group__append {
        font-size: j(10);
    }
}

.pl-tab-title {
    position: relative;
    display: inline-block;
    margin-right: j(28);
    font-weight: bold;
    font-size: j(14);
    height: j(39);
    line-height: j(39);

    @include themeify {
        color: themed("color2");
    }

    &.active {
        @include themeify {
            color: themed("primary");
        }

        //下划线
        &:after {
            content: '';
            width: j(28);
            left: 50%;
            margin-left: j(-14);
            position: absolute;
            height: 2px;

            @include themeify {
                background: themed("primary");
            }

            bottom: 0;
        }
    }

    &:hover {
        @include themeify {
            color: themed("primary");
        }

        cursor: pointer;
    }

}