@font-face {
  font-family: 'Blue Sky Standard Light';
  src: local('Blue Sky Standard Light'),
  url(../font/BlueSkyStandardLight.otf) format('opentype');
}

@font-face {
  font-family: 'Blue Sky Standard Regular';
  src: local('Blue Sky Standard Regular'),
  url(../font/BlueSkyStandardRegular.otf) format('opentype');
}

@font-face {
  font-family: 'Blue Sky Standard Bold';
  src: local('Blue Sky Standard Bold'),
  url(../font/BlueSkyStandardBold.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans SC Regular';
  src: local('Noto Sans SC Regular'),
  url(../font/NotoSansSC-Regular.woff2) format('woff2')
}
