body,header,aside,footer, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, figure,input, textarea, p, span,blockquote, th, td {
  padding:0;
  margin:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

h1,h2,h3,h4,h5,h6 {
  font-weight:normal;
}

html,body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-text-size-adjust:100%;
  -webkit-overflow-scrolling: touch;
  font-family: "Blue Sky Standard Regular", "Noto Sans SC Regular", sans-serif;
}

fieldset,img {
  border:0;
}

a,img {
  -webkit-touch-callout: none;
  text-decoration: none;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

ol, ul ,li {
  list-style:none;
}

h1, h2, h3, h4, h5, h6 {
  font-size:100%;
}

a {
  cursor:pointer;
}

button,select,textarea {
  background: #fff;
  -webkit-appearance: none;
  border-radius: 0;
  border:0;
  outline:none;
}

textarea,optgroup,option,select,button {
  vertical-align: middle;font:inherit;
}

a,button,optgroup,select,textarea,span,div {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
}

legend {
  color: #000;
}
